# Ignore build/install artifacts

/build/
/install/
/tmp/

# Ignore .cxx and compiler wrapper build artifacts
*.obj
*.exe
*.ilk
*.pdb
*.lib
*.dll
*.exp
*.hex
*.def

# Vscode 
/.vscode/

# ignore patch files
*.patch